<div class= "error-for-add">
        {{#if message}}
                <div class="alert alert-danger alert-dismissible fade in" role="alert"> 
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                </button>
                        <strong>Error:</strong> {{message}}. 
                </div>
        {{/if}}
</div>
<div class = "form-container">     
        <div class = "form">
                <form class="login-form" action ="" method = "post" enctype="multipart/form-data">
                    <h2>Add a Meal Plan</h2>
                    <input type="text" name = "name" value="{{name}}" placeholder="Name">
                    <input type="text" name= "price" value="{{price}}" placeholder="Price must be xx.xx format!">
                    <input type = "text" name="desc" value="{{desc}}" placeholder="Desc">
                    <input type="text" name="category" value="{{category}}" placeholder="Food Category">
                    <input type="text" name = "Quantity" value="{{Quantity}}" placeholder="Quantity">
                    <p>Top Meal: </p>
                    <input type="checkbox" name = "topMeal">
                    <p>Upload Photo: </p>
                    <input id="photo" type="file" name="photo"/><br />
                    {{#each errorsMessages}}
                    <div class="login-errors">{{this}}</div>
                    {{/each}}
                    <button type="submit" name="button">Add</button>
                </form>
        </div>
</div> 