<h1> This is a test for MP.handlebars</h1>

<h1> You can only access this if you are a logged in user, protected see javascript code for function</h1>
<ul>
    <li><a href="/addmp">Add Meal Plan</a></li>
    <li><a href="/mp">View Meal Plans</a></li>
    <li><a href="/logout">Logout</a></li>
</ul>


<h1>Meal Packages</h1>
<h1>(Would rather have the test for deleting meal packages not be the first five meal packages if possible) </h1>
<div class="mp-container">
     
        <div class="mp-grid-container">
            {{#each mealpackage}}
            <div>
                <div class="mptop2">
                    <img src="/img/{{img}}">
                </div>
                <h1>{{name}}</h1>
                <p>Meal Package Price: ${{price}}</p>
                <p>Description: {{desc}}</p>
                <p>Meal Package Food Cateogry: {{category}}</p>
                <p>Number of meals inside package: {{Quantity}}</p>
                {{#if topMeal}}
                    <div>This is a topMeal</div>
                {{else}}
                    <div>This is not a topMeal</div>
                {{/if}}
                <div class=" col-md-1">
                    <a href="/edit?name={{name}}" class="btn btn-primary">Edit</a>
                </div>
                <div class=" col-md-1">
                    <a href="/delete?name={{name}}" class="btn btn-primary">Delete</a>
                </div>
            </div>
            {{else}}
            <h4>No Meal Packages were found</h4>
            {{/each}}
        </div>
        </br>
        
    {{!-- {{/if}} --}}
</div>